.vscode-button
{
    /* background: url('./images/Visual_Studio_Code_1.35_icon.svg.png') no-repeat left center; */
    background-size: cover;
    background-color: rgb(1, 50, 78);
    color: white;
    border: none;
    height: 40px;
    width: auto;
    cursor: pointer;
    /* padding-left: 50px; */
    border-radius: 4px;

}

.vscode-button:hover
{
    opacity: 0.5;
    /* background-color: white;
    color: rgb(9, 165, 255); */
}

.navbar-brand {
    position: relative;
    background-image: url("./images/Visual_Studio_Code_1.35_icon.svg.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left 90%;
    padding-left: 30px;
    font-size: 20px;
    letter-spacing: -0.04rem;
    color: #fff;
    min-height: 50px;
    padding-top: 15px;
    line-height: 20px
}